@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

#fundo---site--todo {
  background-color: rgb(214, 204, 184);
  height: 1000vh;
}

/* navbar */

.menu--bar {
  width: 100%;
  width: 100%;
  background-color: rgb(187, 143, 106);
  margin: 0 auto;

  border-bottom-right-radius: 60px;
  border-bottom-left-radius: 60px;

  box-shadow: -0.5px 30px 30px rgba(7, 3, 0, 0.247);
}

.nav--h1 {
  text-align: center;
  font-size: 60px;

  padding-top: 5%;
  color: #fff;
}

.nav--span {
  font-weight: bold;
}
.nav-h1-2 {
  font-weight: 200;
}
.menu--itens {
  display: flex;
  gap: 23px;
  margin-left: 29%;
  margin-top: 4%;
  position: relative;
  bottom: 15px;
  font-size: 15px;

  color: #fff;
}

.icon:hover {
  color: rgba(41, 27, 16, 0.808);
  cursor: pointer;
  font-size: 18px;
  border: 0;
  margin-bottom: 0;
  font-weight: bolder;
  transition: 0.6s;
}

/* contedo principal */
.conteudo--principal-h1 {
  position: relative;
  top: 250px;
  font-size: 50px !important;
  z-index: 1;
}

.contedo--principal-p {
  position: relative;
  top: 300px;
  font-size: 30px !important;
}

.dropdown-toggle {
  width: 350px;

  position: relative;
  top: 330px;

  border-radius: 10px !important;

  font-size: 20px !important;

  margin-bottom: 25px;

  background-color: rgb(255, 255, 255) !important;
  border: rgb(255, 255, 255) !important;

  color: #000 !important;
}

.next {
  position: relative;
  top: 330px;

  background-color: rgb(187, 143, 106) !important;
  border: rgb(187, 143, 106) !important;

  width: 150px;

  border-radius: 10px !important;

  font-size: 20px !important;
}

.contedo--principal-h4 {
  position: relative;
  top: 350px;
  text-decoration: underline;
}

.conteudo--principal-p2 {
  position: relative;
  top: 380px;
}
.now {
  font-weight: bolder;
  text-transform: uppercase;
  background-color: #fff;
  padding: 5px;
  border-radius: 15px;
  color: rgb(187, 143, 106);

  box-shadow: 10px 1px 40px rgba(0, 0, 0, 0.288);
}
.imagem--lateral {
  width: 500px;
  float: right;
  position: relative;
  top: -350px;
  left: -350px;

  background-color: rgb(187, 143, 106) !important;
  border-radius: 50px;
}

.iconss {
  position: absolute;
  left: -440px;
  top: 397px;
  border-radius: 200px;
}

/* Quadro branco */

.quadro--branco--lateral {
  float: right;
  position: relative;
  left: 500px;
  margin-top: -250px;
  background-color: rgb(255, 255, 255);
  width: 30%;
  padding-left: 100px;
  height: 70vh;

  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;

  box-shadow: -20px 1px 40px rgba(0, 0, 0, 0.24);

  top: -60px;
}

.ssj4 {
  background-color: rgb(187, 143, 106) !important;
  border: rgb(187, 143, 106) !important;
}
.quadro--branco-p {
  position: relative;
  margin-top: 30px;
  font-weight: bolder;
  font-size: 20px;
}

.shopping--side-1,
.shopping--side-2 {
  width: 180px;
  margin-top: 10px;
  border-radius: 20px;
}

.shopping--side-p1 {
  font-weight: bold;
  text-decoration: underline;
}

/* Item 2 */
.item2 {
  position: relative;
  top: 500px;
  background-color: #fff;
  height: 750px;

  border-radius: 50px;

  box-shadow: -0.5px 30px 30px rgba(7, 3, 0, 0.247);
}

.item2--h3-1,
.item2--h1,
.item2--lorem,
.item2--h3-2,
.f22 {
  position: relative;
}

.item2--h1 {
  bottom: -50px !important;
  left: 50px;
  font-size: 60px;
}

.item2--h3-1 {
  bottom: -50px !important;
  left: 50px;
}

.item2--lorem {
  bottom: -50px !important;
  left: 50px;
}

.f22 {
  bottom: -50px !important;
  background-color: rgb(187, 143, 106) !important;
  border: rgb(187, 143, 106) !important;
  padding: 50px;
  width: 150px;
  height: 50px;

  left: 30px;

  margin-top: 20px;
  margin-left: 20px;

  border-radius: 10px !important;
}

.f22:hover {
  background-color: rgb(150, 113, 83) !important;
  color: rgb(255, 254, 254) !important;
  transition:  ease-in 0.2s;

}
.item2--h3-2 {
  bottom: 650px;
  left: 50px;
}
.item2--img {
  width: 40%;
  position: relative;
  right: -761px;
  margin: 0;
  padding: 0;

  bottom: 505px;

  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
}

/* ITEM 3 */

.item3 {
  border-radius: 100px;


  background-color: rgb(187, 143, 106);
  position: relative;
  margin-top: 600px;


  height: 77.5vh;

  box-shadow: 5px 1px 40px rgba(0, 0, 0, 0.24);
}

.item3--img {
  width: 555px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  position: relative;

  filter:brightness(0.4);

  margin-left: -12px;
}


.center--t {
  position: relative;
  margin-top: -535px;
  color: #fff !important;
}



.item3--h1 {
  position: relative;
  top: -170px;
  
  background-color: rgb(187, 143, 106) !important;
  border: rgb(187, 143, 106) !important;

  padding: 10px;

  width: 420px;

  margin-left: 50px;

  border-radius: 5px;
}

.center--ls {
  position: relative;
  margin-left: 50px;
  margin-top: -50px;
}

.item3--h1-2 {
  font-size: 70px;
}

.ff35 {
  position: relative;
    
  background-color: rgb(187, 143, 106) !important;
  border: rgb(187, 143, 106) !important;

  position: relative;
  top: 70px;
  margin-left: 50px;

  width: 200px;
  height: 50px;

}

.ff35:hover {
  background-color: #fff !important;
  color: rgb(187, 143, 106) !important;
  transition:  ease-in 0.2s;

}

.item3--lateral {
  position: relative;
  left: -180px;
  top: -250px;

  height: 70vh;

  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;

  
}

.p-item-3 {
  position: relative;
  font-size: 25px;
}

.item3-p-w {
  text-decoration: none !important;

}

/* ITEM 4 */

.item4 {
  background-color: rgb(187, 143, 106);
  position: relative;
  height: 70vh;
  top: 150px;

  box-shadow: 5px 5px  25px rgba(0, 0, 0, 0.226);

  border-radius: 100px ;

  color: #fff !important;
}

.item4-h1 {
  position: relative;
  margin-left: 410px;
  top: 50px;
  font-size: 80px;
}

.item4-span {
  font-weight: lighter;
}

.item4-h3 {
  position: relative;
  margin-left: 370px;
  top: 50px;
}

.item4-btn {
  position: relative;
  margin-left: 410px;
  top: 200px;
  width: 400px;
  height: 80px;

  background-color: #fff !important;
  border: 2px solid white !important;

  color: rgb(187, 143, 106) !important;
  
  font-size: 20px !important;
  font-weight: bold !important;
}

.item4-btn:hover {
  background-color: rgb(172, 114, 68) !important;
  border:none!important;

  color: #fff !important;

  transition: ease-in-out 0.8s !important;
}

.cofffee-time-img {
  width: 447px;
  position: relative;
  float: right;
  top: -225px;
  left: 12px;

  opacity: 0.2;

  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
}

#ultimo--quadro {
  height: 90vh;
  background-color: #fff;
  border-radius: 100px !important;
  position: relative;
  top: 250px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.219);
}


.item5--img {
  width: 573px;
  position: relative;
  float: right;

  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;

  top: -300px;

  opacity: 0.9;
}


.item5-h1 {
  font-size: 47px;

  position: relative;
  top: 110px;
  margin-left: 28px;

  color:  rgb(187, 143, 106) !important;
}

.item5-p-1 {
  position: relative;
  top: 220px;
  margin-left: 278px;

  color:  rgba(187, 142, 106, 0.685) !important;
}

.item5-btn {
  position: relative;
  top: 220px;
  margin-left: 278px;

  background-color:  rgb(187, 143, 106) !important;
  height: 60px;
  width: 180px;

  color: #FFF !important;
  font-weight: bold !important;

}

.item5-btn:hover {
  border: 1px solid  rgb(187, 143, 106) !important;
  background-color:  rgba(133, 74, 26, 0.747) !important;
  text-transform: capitalize;
}

.item5-h3 {
  position: relative;
  top: 290px;
  margin-left: 70px;

  color: rgb(187, 143, 106) !important;
}

.phone--number {
  font-weight: 400;
}

.item5-h4 {
  position: relative;
  top: 320px;
  margin-left: 120px;
  font-weight: 300;
  color: rgb(187, 143, 106) !important;
}

.item5-last-lorem {
  position: relative;
  top: 350px;
  margin-left: 25px;
  text-indent: 18px;

  color: rgb(187, 143, 106) !important;
}